@charset "UTF-8";


/*
======================
    CONFIG. GERAIS
======================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 100%;
    background-color: #0783B5;
    margin: auto;
}
main > section {
    background-color: #00AFF2;
    width: 100%;
    margin: auto;
    height: 750px;
    padding: 0 105px;

    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
}
h3::first-letter {
    font-size: 1.2em;
}

article {
    max-width: 1100px;
}

/*
==============
    HEADER
==============
*/

header {
    width: 100%;
    height: 59px;
    position: fixed;
    top: 0;
    color: white;
    z-index: 999;
}

/*-----------------------
  \\VvWvV//  LOGO  \\VvWvV//  
 ------------------------*/
#menu-content {
    width: 100%;
    display: flex;
}
#menu-content .logo {
    width: 30%;
    height: 59px;
    background-color: #04A7E8;
    border-radius: 0 0 0 25px;
    position: relative;
}
#menu-content .logo .img {
    position: absolute;
    width: 130px;
    height: 175px;
    top: -107px;
    left: 50%;
    transform: translateX(-50%);

    background-image: url(../imagens/logo-iemol.jpg);
    background-size: 200px;
    background-position: top;
    background-repeat: no-repeat;

    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 5px black;

    transition: top .6s ease-in-out;
    
    z-index: 1;
}
/* - - Puxar a Logo - - */
#menu-content .logo:hover .img {
    top: -20px;
}
/* - - - - - -- - - - - */
#menu-content .logo h1 {

    display: none;

    position: relative;
    color: red;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.37);
    text-align: center;
    
    z-index: 2;
}

/*-----------------------
 \\VvWvV// MENU \\VvWvV//
 ------------------------*/
i#burger {
    display: none;
}
#menu-content nav.menu {
    width: 70%;
    height: 59px;
    background-color: #FBB03B;
    border-radius: 0 0 25px 0;
    overflow: hidden;
}
header ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: bottom;
    list-style: none;
}
header li > a {
    display: block;
    text-align: center;
    line-height: 50px;
    
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    text-transform: uppercase;

    padding: 5px 10px;
    
    transition: all .34s ease;
}
header li > a:hover {
    background-color: rgba(0, 0, 0, 0.305);
    transform: translateY(-45px);
}

/*
=======================
    SESSÃO 1 - HOME
=======================
*/
section#home {
    background: radial-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url(../imagens/alunos-juntos.jpg);
    background-position: top;
    background-size: cover;
    color: black;
}

section#home > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 50%;
}
#home h2 {
    margin-bottom: 25px;
}
#home div.texto {
    margin-top: 50px;
    text-align: center;
    font-size: 1.3em;
    line-height: 50px;
    background-color: rgba(128, 128, 128, 0.171);
}
#home .btn {
    margin-top: 50px;
}

/*
=========================
    SESSÃO 2 - TURMAS
=========================
*/

section#turmas {
    height: 740px;
}

section#turmas article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#turmas h2 {
    margin-bottom: 30px;
}
section#turmas div.texto {
    text-align: center;
}

section#turmas div.texto p {
    font-size: 1.3em;
    line-height: 30px;
    margin-bottom: 45px;
}

/* --\\V//-- Botões --\\V//-- */
section#turmas div.btns {
    display: flex;

    margin-bottom: 20px;
}
section#turmas div.btns button {
    font-size: 1.1em;
    font-weight: bolder;
    text-align: center;

    width: 220px;
    padding: 5px 15px;
    margin: 0 5px;

    border-radius: 20px;
    border-color: #FBB03B;
    border-width: 2px 6px 6px 2px;
    background-color: white;
}
.txt-btn-trm {
    font-size: .65em;
    font-weight: normal;
}
section#turmas div.btns button:hover {
    cursor: pointer;
}


section#turmas div.imagens {
    background-color: #FBB03B;
    border-radius: 20px;
    width: 700px;
    height: 350px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
.imgs-trm {
    display: none;
    background-color: white;
    border-radius: 20px;
}
.imgs-trm:nth-child(1) {
    display: block;
}
section#turmas div.imagens img {
    background-color: #fbb13b2c;
    width: 300px;
    height: 300px;
    margin: 15px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: 10px solid #FBB03B;
    border-width: 6px 15px 15px 6px;
    border-radius: 50px;
}
#qdr1 img:nth-child(1) {
    background-image: url(../imagens/bercario.jpg);
}
#qdr1 img:nth-child(2) {
    background-image: url(../imagens/bercario2.jpg);
}
#qdr2 img:nth-child(1) {
    background-image: url(../imagens/brincar2.jpg);
}
#qdr2 img:nth-child(2) {
    background-image: url(../imagens/brincar1.jpg);
}
#qdr3 img:nth-child(1) {
    background-image: url(../imagens/prof-sala1.jpg);
}
#qdr3 img:nth-child(2) {
    background-image: url(../imagens/MG_0018.jpg);
}
/*
========================================
    SESSÃO 3 - PROFESSORES E DIREÇÃO
========================================
*/

section#profs {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 750px;

    font-size: 1.2em;
}
section#profs .txtdirecao {
    margin-bottom: 40px;
}
section#profs .txtdirecao h2 {
    margin-bottom: 15px;
    text-align: center;
}
section#profs .txtdirecao p {
    text-align: center;
    line-height: 1.8em;
    width: 70%;
    margin: auto;
}

section#profs article {
    display: flex;
    flex-direction: row;
    max-width: 1100px;

    background-image: radial-gradient(rgb(255, 255, 255, .7), rgba(255, 255, 255, 1)), url(../imagens/profs.jpg);
    background-position: center;

    border: 10px solid #FBB03B;
    border-width: 10px 25px 25px 10px;
    border-radius: 50px;
    padding: 15px;
}
section#profs article .direcao,
section#profs article .profs {
    opacity: .55;
    display: flex;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #00AFF2;
    margin: 0 5px;

    box-shadow: 0 0 5px black;

    transition: all .34s ease;
}
section#profs article .direcao:hover,
section#profs article .profs:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(101%);
    box-shadow: 3px 3px 5px black;
}
section#profs article div.direcao div.texto {
    width: 50%;
    text-align: center;
    margin: 7px 10px;
    color: white;
}
section#profs h3 {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    
    border-bottom: 1px solid #83dcff;
}
section#profs h3::first-letter {
    font-size: 1.2em;
}

section#profs article div.direcao div.imagens {
    width: 50%;
    background-color: aquamarine;
    background-image: url(../imagens/diretoras1.jpg);
    background-size: cover;
    background-position: center;
}
section#profs article div.profs div.texto {
    width: 50%;
    margin: 7px 10px;
    color: white;
    text-align: center;
}
section#profs article div.profs div.imagens {
    width: 50%;
    background-color: aquamarine;
    background-image: url(../imagens/prof-aluno1.jpg);
    background-size: cover;
    background-position: center;
}



/*
=========================
    SESSÃO 4 - IEMOL
=========================
*/

section#iemol {
    background-color: white;
    height: 1000px;
}
section#iemol article {
    max-width: 1100px;
}
section#iemol .titulo {
    text-align: center;
    margin-bottom: 25px;
}

section#iemol .img-entrada img {
    background-color: #00AFF2;
    background-image: url(../imagens/entrada-img.jpg);
    background-position-y: -70px;

    width: 100%;
    height: 225px;
}

section#iemol .texto {
    max-width: 800px;
    text-align: center;
    margin: 30px auto;
}
section#iemol .texto p {
    font-size: 1.2em;
    line-height: 1.8em;
}
section#iemol .imgs-extra {
    display: flex;
}
section#iemol .imgs-extra div {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 233px;
}
section#iemol .imgs-extra div:nth-child(1) {
    background-image: url(../imagens/MG_0018.jpg);
}
section#iemol .imgs-extra div:nth-child(2) {
    background-image: url(../imagens/MG_0078.jpg);
}
section#iemol .imgs-extra div:nth-child(3) {
    background-image: url(../imagens/MG_0051.jpg);
}

/*
=======================
    SESSÃO 5 - PAIS
=======================
*/

section#paisprofs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 570px;
}
section#paisprofs article {
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
section#paisprofs .ppimg {
    background-color: #FBB03B;
    border-radius: 50%;
    width: 415px;
    height: 415px;
    padding: 5px 15px 15px 5px;
}
section#paisprofs .ppimg .img {
    width: 400px;
    height: 400px;

    background-color: white;
    background-image: url(../imagens/paisAlunos.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
}

section#paisprofs .texto {
    margin-left: 30px;
}
section#paisprofs .texto h2 {
    margin-bottom: 20px;
}
section#paisprofs .texto p {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.8em;
    margin-bottom: 20px;
}

/*
===============================
    BOTÃO PARA O FORMULÁRIO
===============================
*/

div.btn {
    width: fit-content;
    margin: auto;
    background-color: rgb(0, 148, 0);
    border-radius: 20px;
    text-align: center;
    opacity: .7;
}
div.btn:hover {
    background-color: #FBB03B;
    opacity: 1;
}

div.btn > a {
    display: inline-block;
    padding: 15px 20px;

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.34em;

    text-transform: uppercase;
}
