@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

@font-face {
    font-family: 'Rabisco';
    src: url(../fontes/KGBrokenVesselsSketch.ttf);
}

/*    Resetar as margens   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    body
*/
body {
    width: 100%;
}

/*
    Header
*/
header {
    display: none;
}

/*
    Header - Menu
*/

/*
    Main
*/

/*
    Main - #home
*/
#home {
    height: 100vh;
    position: relative;
    
    overflow-x: hidden;
}

#home .cxM {
    padding-top: 100px;
}

#home h1 {
    font-family: 'Rabisco';
    font-size: 2.5em;
    font-weight: normal;
    color: #04A7E8;

    padding-left: 15px;
}
#home h1 span {
    color: red;
    font-size: 1.25em;
}



#home img.menina {
    position: absolute;
    bottom: 17vh;
    left: 12%;
    border-radius: 50%;
    filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.541));
    z-index: 0;
}
@media screen and (max-height: 774px) {
    #home img.menina {
        left: 13%;
        bottom: 10vh;
    }
}

/* BOTÃO - FORM */
#home div.form {
    position: absolute;

    bottom:-60vh;
    left: -50vh;
    
    height: 90vh;
    width: 90vh;
    background-color: #04A7E8;
    border-radius: 50%;
    
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.625);

    overflow: hidden;

    z-index: 1;
}
#home div.form .btns {
    position: absolute;
    right: 30%;
    height: 100%;
    width: 10px;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media screen and (min-height: 774px) {
    #home div.form .btns {
        right: 35%;
    }
}
#home div.form a.form-link {
    text-align: center;
    margin-top: 30px;

    font-size: 2em;
    transform: scale(3.5) rotate(-8deg);

    text-decoration: none;
    color: white;
    text-shadow: -2px -1px 3px black;
}
#home div.form a.form-link > p {
    position: absolute;
    bottom: 6%;
    left: -1vw;
    font-family: 'Rabisco';
    font-size: .4rem;
    font-weight: normal;
}
#home .logo {
    margin-top: 45px;
    transform: rotate(-8deg);

    z-index: 1;
}
#home .logo img {
    border-radius: 20px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.466);
}
#home div.btn-contato a img {
}

/* BOTÃO - SAIBA MAIS */
#home .bola-btn {
    position: absolute;
    bottom: -50vh;
    right: -60vh;
    
    height: 90vh;
    width: 90vh;
    background-color: orange;
    border-radius: 50%;

    box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.625);

    overflow: hidden;

    z-index: 2;
}
#home .img-porta {
    position: absolute;
    left: -55vw;
    top: 22vh;
    z-index: 0;
}
#home .bola-btn p { /* ?  ?  ? */
    position: absolute;
    top: 10%;
    left: 15%;
    transform: rotate(10deg);

    font-family: 'Rabisco';
    font-size: 12em;
    text-align: right;
    text-transform: uppercase;

    text-decoration: none;
    color: red;
    text-shadow: 3px -3px 7px black;

    z-index: 2;
}
#home .smdiv {
    position: absolute;
    bottom: -63vh;
    height: 300px;
    width: 100%;
    background-color: orange;

    z-index: 0;
}
#home .smdiv p {
    position: absolute;
    left: 50%;
    bottom: 3.1vh;

    font-family: 'Rabisco';
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}
#home .smdiv p span {
    font-size: 2.5em;
}

/*
    Sessão 2 - IEMOL
*/

#iemol {
    background-image: linear-gradient(to bottom, orange, transparent);
}
#iemol .esp {
    width: 100%;
    margin-bottom: 3vh;
}
#iemol .esp:first-child {
    padding-top: 5vh;
}
#iemol .esp:last-child {
    margin-bottom: 0;
}
#iemol .esp h3 {
    text-align: center;
    margin-bottom: 15px;

    font-size: 2em;
    font-family: 'Rabisco';
    font-weight: normal;
    letter-spacing: 2px;

    color: white;
    text-shadow: 0px 0px 3px black;
}
#iemol .esp img {
    display: block;
    width: 375px;
    margin: auto;
    border-radius: 20px;
}

/*
    BOTÃO PARA O FORMULÁRIO entre sessões
*/

#btn-form {
    background-color: #04A7E8;
    height: 100px;

    margin: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-form a {
    text-decoration: none;
    color: blue;
    font-family: 'Rabisco';
    font-size: 2em;
    text-shadow: 0 0 2px white;
}

/*
    Sessão 3 - Equipe
*/

#equipe {
    overflow-x: hidden;
}
#equipe .txt p {
    text-align: center;
    font-family: 'Playpen Sans', cursive;
    font-size: 1.2em;
    margin: 15px 10px;
}
#equipe .txt h3 {
    text-align: center;
    margin-bottom: 15px;

    font-size: 2em;
    font-family: 'Rabisco';
    font-weight: normal;
}
#equipe .imgs img {
    display: block;
    width: 375px;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}

/*
    Sessão 4 - Onde
*/

#onde {
    height: 100vh;
}
#onde .mapa {
    height: 80%;
    background-color: orange;
}
#onde .mapa .imapa {

}
#onde .mapa .endereco {
    
}