@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

@font-face {
    font-family: 'Rabisco';
    src: url(../fontes/KGBrokenVesselsSketch.ttf);
}

/*    Resetar as margens   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    body
*/
body {
    width: 100%;
}

/*
    Header
*/
header {
    display: none;
}

/*
    Header - Menu
*/

/*
    Main
*/

/*
    Main - #home
*/
#home {
    height: 100vh;
    position: relative;
    
    overflow-x: hidden;
}

#home .camp {
    padding-top: 45px;
    text-align: center;
}

#home .camp h1 {
    font-family: 'Rabisco';
    font-size: 2.5em;
    font-weight: normal;
    color: #04A7E8;
}
#home h1 span {
    color: red;
    font-size: 1.25em;
}
#home .camp h2 {
    margin-top: 30px;
    font-family: 'Playpen Sans', cursive;
}



#home img.menina {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.541));
    z-index: 0;
}
@media screen and (max-height: 774px) {
    #home img.menina {
        bottom: 7vh;
    }
}

/* BOTÃO - FORM */
#home div.form {
    position: absolute;

    bottom:-50vh;
    left: -60vh;
    
    height: 90vh;
    width: 90vh;
    background-color: #04A7E8;
    border-radius: 50%;
    
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.625);

overflow: hidden;

    z-index: 1;
}
#home div.form .btns {
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
    height: 86%;
    width: 10px;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media screen and (min-height: 774px) {
    #home div.form .btns {
        right: 22%;
    }
}
#home div.form a.form-link {
    text-align: center;
    margin-top: 45px;

    font-size: 2em;
    transform: scale(3.5) rotate(-8deg);

    text-decoration: none;
    color: white;
    text-shadow: -2px -1px 3px black;
}
#home div.form a.form-link > p {
    position: absolute;
    bottom: 6%;
    left: -1vw;
    font-family: 'Rabisco';
    font-size: .4rem;
    font-weight: normal;
}
#home .logo {
    margin-top: 45px;
    transform: rotate(-8deg);

    z-index: 1;
}
#home .logo img {
    border-radius: 20px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.466);
}
#home div.btn-contato a img {
}

/* BOTÃO - BOLA SAIBA MAIS */
#home .bola-btn {
    position: absolute;
    bottom: -50vh;
    right: -60vh;
    
    height: 90vh;
    width: 90vh;
    background-color: orange;
    border-radius: 50%;

    box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.625);

    overflow: hidden;

    z-index: 2;
}
#home .img-porta {
    position: absolute;
    left: -55vw;
    top: 22vh;
    z-index: 0;
}
#home .bola-btn p { /* ?  ?  ? */
    position: absolute;
    top: 10%;
    left: 15%;
    transform: rotate(10deg);

    font-family: 'Rabisco';
    font-size: 12em;
    text-align: right;
    text-transform: uppercase;

    text-decoration: none;
    color: red;
    text-shadow: 3px -3px 7px black;

    z-index: 2;
}

/*
    #SMDIV - Botão para descer a tela
*/
#home .smdiv {
    position: absolute;
    bottom: -60vh;
    height: 300px;
    width: 100%;
    background-color: orange;

    z-index: 0;
}
#home .smdiv p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7.1vh;
    background-color: transparent;

    font-family: 'Rabisco';
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;

    z-index: 4;
}
#home .smdiv p span {
    font-size: 2.5em;
}

/*
    Sessão 2 - IEMOL
*/

#iemol {
    background-image: linear-gradient(to bottom, orange, transparent);
    width: 100vw;
    padding-top: 5vh;
}
#iemol .esp {
    width: 100%;
    margin: 15px 0;

    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}
#iemol .esp:last-child {
    margin-bottom: 0;
}
#iemol .esp h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 2em;
    font-family: 'Rabisco';
    font-weight: normal;
    letter-spacing: 2px;

    color: white;
    text-shadow: 0px 0px 3px black;
}
#iemol .esp .content {
    display: none;
}
#iemol .esp .content p {
    text-align: justify;
    font-family: 'Playpen Sans', cursive;
    font-size: 1.2em;
    margin: 15px 10px;

}

#iemol .esp img {
    display: block;
    width: 375px;
    margin: auto;
    border-radius: 20px;
    

    transition: 1s;
}

#iemol .exib {
    width: 100%;
    height: 70px;
    background-color: orange;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}
#iemol .exib span {
    transform: scale(2);

    z-index: 199;
}

/*
    BOTÃO PARA O FORMULÁRIO entre sessões
*/

main > .btn {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

main > .btn > .btnEemC {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 230px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #04A7E8;

    margin-bottom: 15px;
}
main > .btn  > .btnEemC a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;

    transition: all .2s ease-in-out;
}
main > .btn  > .btnEemC:hover a {
    transform: scale(1.1);
}

/*
    Sessão 3 - Equipe
*/

#equipe {
    overflow-x: hidden;
}
#equipe h3 {
    text-align: center;
    margin-bottom: 15px;

    font-size: 2em;
    font-family: 'Rabisco';
    font-weight: normal;
}
#equipe .txt p {
    text-align: center;
    font-family: 'Playpen Sans', cursive;
    font-size: 1.2em;
    margin: 15px 10px;
}
#equipe .content h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}
#equipe .content {
    display: none;
}
#equipe .content p {
    text-align: justify;
    font-family: 'Playpen Sans', cursive;
    font-size: 1.2em;
    margin: 15px 10px;

}
#equipe .imgs img {
    display: block;
    width: 375px;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}

/*
    Sessão 4 - Onde
*/

#onde {
    margin-top: 30px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#onde .mapa {
    background-color: orange;
    padding: 25px 0;
    border-radius: 20px;
}
#onde .mapa .endereco {
    text-align: center;
    font-family: 'Playpen Sans', cursive;
    font-size: 1.2em;
    margin: 15px 10px;
}
#onde .mapa .endereco span {
    transform: scale(1.5);
}
#onde .mapa .imapa {
    text-align: center;
}
#onde .mapa .imapa iframe {
    border-radius: 20px;
    box-shadow: 3px 0 5px black;
    
    overflow: hidden;
}

/*
    Footer
*/

footer {
    width: 100%;
    background-color: #04A7E8;
}
footer .content {
    width: 340px;
    margin: auto;
    text-align: center;

    color: white;
}
footer .content img.logo {
    width: 100%;
    border-radius: 0 0 20px 20px;
}
footer .txtCamp {
    margin-top: 20px;
}
footer .txtCamp h2 {
    text-align: center;
    font-family: 'Play-Sans', cursive;
    font-size: 1.5em;
    font-weight: normal;
}

footer .btns {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .btnEemC {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 50px;
    border: 1px solid white;
    border-radius: 20px;

    margin-bottom: 15px;
}
footer .btnEemC a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;

    transition: all .2s ease-in-out;
}
footer .btnEemC:hover a {
    transform: scale(1.1);
}
footer .redes {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .redes .btn {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
}
footer .redes .btn:first-child {
    margin-right: 15px;
}
footer .redes .btn:last-child {
    margin-left: 15px;
}
footer .redes img {
    width: 32px;
    transform: scale(1);
    margin-top: 3px;

    transition: all .2s ease-in-out;
}
footer .redes .btn:hover img {
    transform: scale(1.45);
}
footer .infos {
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;

    margin-bottom: 25px;
}
footer .infos h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2em;
}
footer .infos p {
    margin-bottom: 10px;
}

footer .rights {
    
    border-top: 5px double rgba(255, 255, 255, 0.356);
    
    font-family: Arial, Helvetica, sans-serif;
    
    padding-bottom: 40px;
}
footer .rights p:first-child {
    margin-top: 40px;
    margin-bottom: 30px;
}
footer .rights p:last-child a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}